<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mbunit" version="3.3.454.0" targetFramework="net35-Client" />
  <package id="nbehave" version="0.6.2" targetFramework="net35-Client" />
  <package id="nbehave.fluent.mbunit" version="0.6.2" targetFramework="net35-Client" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net35-Client" />
</packages>