<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net40-Client" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net40-Client" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40-Client" />
  <package id="Ninject.Extensions.NamedScope" version="3.2.0.0" targetFramework="net40-Client" />
  <package id="Ninject.MockingKernel" version="3.2.1.0" targetFramework="net40-Client" />
  <package id="Ninject.MockingKernel.Moq" version="3.2.1.0" targetFramework="net40-Client" />
  <package id="Ninject.MockingKernel.NSubstitute" version="3.2.1.0" targetFramework="net40-Client" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.4" targetFramework="net40-Client" />
  <package id="xunit" version="1.9.2" targetFramework="net40-Client" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40-Client" />
</packages>