<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net35" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="Spring.Core" version="2.0.0-RC2" targetFramework="net35" />
  <package id="Spring.Rest" version="1.1.1" targetFramework="net35" />
  <package id="Spring.Rest.Testing" version="1.1.1" targetFramework="net35" />
  <package id="xunit" version="1.9.2" targetFramework="net35" />
</packages>