<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.3.14" targetFramework="net35" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net35" />
  <package id="nunrar" version="1.0.1" targetFramework="net35" />
  <package id="TaskScheduler" version="2.3.0" targetFramework="net35" />
</packages>