<html>
	<head>
		<title>Cancelling test run</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
	<body>
        <a href="/">Home</a>
        <br>
	    <br>
	</body>
</html>