<html>
    <head>
        <title>New test run</title>
        <style>
            iframe {
                border: 0px solid black;
                border-collapse: collapse;
            }
        </style>
        <script>
            // http://www.dyn-web.com/tutorials/iframes/height/
            function getDocHeight(doc) {
                doc = doc || document;
                // stackoverflow.com/questions/1145850/
                var body = doc.body, html = doc.documentElement;
                var height = Math.max( body.scrollHeight, body.offsetHeight, 
                    html.clientHeight, html.scrollHeight, html.offsetHeight );
                return height;
            }
            
            function setIframeHeight(id) {
                var ifrm = document.getElementById(id);
                var doc = ifrm.contentDocument? ifrm.contentDocument: 
                    ifrm.contentWindow.document;
                ifrm.style.visibility = 'hidden';
                ifrm.style.height = "10px"; // reset to minimal height ...
                // IE opt. for bing/msn needs a bit added or scrollbar appears
                ifrm.style.height = getDocHeight( doc ) + 4 + "px";
                ifrm.style.visibility = 'visible';
            }
            
            // http://stackoverflow.com/questions/647282/is-there-an-onselect-event-or-equivalent-for-html-select
/*
            function copyValue()
            {
                var n1 = document.getElementById('workflow_id');
                var n2 = document.getElementById('test_run_name');
                n2.value = n1.value;
            } */
        </script>
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <a href="/">Home</a>
        <br>
        <a href="/testRuns/testRuns">Test runs</a>
        <br>
        <br>
        
        <form method="POST">
           <label for="workflow_name">Select test workflow</label><br>
           <!-- <select id="workflow_id" name="workflow_name" onchange="copyValue()"> -->
           <select id="workflow_id" name="workflow_name">
               {% for workflow in @Model.Workflows -%}
                   <option{% if workflow.Name == @Model.Selected -%}{{ ' selected' }}{% endif -%}>{{ workflow.Name }}</option>
               {% endfor -%}
           </select>
           <input type="submit" value="Select" />
        </form>
        
        <hr>
        <h3>Test parameters</h3>
        <iframe id="t_id" src="{{ @Model.Path }}.html" name="t_name" seamless width="100%" onload="setIframeHeight(this.id)" scrolling=auto></iframe>
    </body>
</html>