<html>
    <head>
        <title>Test parameters</title>
    </head>
    <body>
        <a href="/">Home</a>
        <br>
	    <br>
        
        <h1>{{ @Model.TestRun.Name }} /{{ @Model.TestRun.Status }}/</h1>

        {% for item in @Model.TestRun.Data.Data -%}
            ['{{ item.Key }}'='{{ item.Value }}']<br>
        {% endfor -%}
        
    </body>
</html>