<html>
    <head>
        <title>Test parameters</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <a href="/">Home</a>
        <br>
        <a href="/testRuns/testRuns">Test runs</a>
        <br>
        <br>
        
        <h1>{{ @Model.TestRun.Name }} /{{ @Model.TestRun.Status }}/</h1>

        <table border="1">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for item in @Model.TestRun.Data.Data -%}
            <tr>
                <td>{{ item.Key }}</td>
                <td>{{ item.Value }}</td>
            </tr>
            {% endfor -%}
        </table>
        
    </body>
</html>