<html>
    <head>
        <title>Test labs list</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        <br>
        <br>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            {% for testLab in @Model.TestLabs -%}
                <tr>
                <td>{{ testLab.Name }}</td>
                <td>{{ testLab.Description }}</td>
                <td>{{ testLab.Status }}</td>
                </tr>
            {% endfor -%}
        </table>
    </body>
</html>