<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h3>Run tests</h3>
<a href="/testRuns/newTestRun">New test run</a>
<br>
<a href="/testRuns/testRuns">Current test runs' queue</a>
<br>
<br>
<hr>
<h3>Information pages</h3>
<a href="/status/clients">Clients</a>
<br>
<a href="/status/tasks">Tasks</a>
<br>
<!-- <a href="/results/overview">All tests - overview</a>
<br> -->
<a href="/status/workflows">Test workflows available</a>
<br>
<a href="/status/testLabs">Test labs registered</a>
<br>
<!-- <a href="/admin/tasks.htm">Server control</a>
<br> -->
</body>
</html>